!!!
%html
  %head
    %title nkoehring.de URL shortener
    %link( rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Anonymous+Pro&v2' )
    %link( rel="stylesheet" type="text/css" href="/url/style.css" media="screen, projection" )

  %body
    %header
      %h1 Shortened URLs by nkoehring

    #content=yield

    %footer
      ©2011
      %a( href="http://nkoehring.de" ) nkoehring

