body
  font-family: 'Anonymous Pro', sans-serif
  font-size: 1.2em
  background: none #333
  color: #EEE
  margin: 0 2em 

header, footer
  display: block
  margin: 1em 0

a:link
  color: #EEE
a:visited
  color: #AAA
a:focus, a:active, a:hover
  color: yellow

table
  border-collapse: collapse

th,td
  text-align: left
  padding: 0.25em 1em

.center
  text-align: center
  margin: auto

.odd
  background-color: rgba(63,63,127,.1)

